body{
    width: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 1em;
    margin: 5px;
}
h2{
    font-size: 0.8em;
    margin: 5px;
    padding: 0;
    
}
.details{
    display: block;
    float: left;
    width: 25%;
    padding-left: 75%;
}
.education {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.work-experience{
    width: 80%;
    margin-left: auto;
    margin-right: auto
}
.languages{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.computer-programing-skills{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.portfolio-link{
    margin: 5px;
}